@font-face
{
font-family: ubuntu;
src: url(/font/Ubuntu-R.ttf);
}

html {
   min-height: 100%;
   font-family: ubuntu;
}

body{
	padding: 0;
	margin: 0;
	background: #203147;
	text-align: center;
	color: #444;
	color: #aaa;
	cursor: default;
}

#chat{
	font-family: ubuntu;
	font-size: 16px;
	position: absolute;
	width: 99.7%;
	height: 88%;
	top: 0;
	left: 0;
	background: #222;
	color: #bbb;
	border: none;
	z-index: 0;
	cursor: default;
	resize: none;
}

#mess{
	font-family: ubuntu;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	font-size: 16px;
	padding: 4px;
	height: 9%;
	width: 99.4%;
	background: #444;
	color: #bbb;
	border-style: none;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.top{
	font-family: ubuntu;
	text-align: center;
	font-size: 18px;
	padding: 5px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.top_center{
	font-family: ubuntu;
	text-align: center;
	font-size: 18px;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 43%;
	z-index: 1;
}

.bottom{
	font-family: ubuntu;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	position: absolute;
	bottom: 11%;
	right: 0;
	z-index: 1;
}

.link{
	color: #333;
	background: #888;
	padding: 5px;
	text-decoration: none;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.link:hover{
	background: #aaa;
}